/*
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url(w3.min.css);
@import url(loader.min.css);

.clear-fix {
    clear: both;
}

.center {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
}

#howtoorder:target {
    display: block;
}

#about:target {
    display: block;
}
